@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  background-color: #17a2b8;
}
.section_tabs {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
}
.section_tabs h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.section_tabs nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 50px;
  position: relative;
  align-items: center;
}
.section_tabs nav label {
  color: #17a2b8;
  height: 100%;
  width: 95px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 2;
  font-size: 17px;
}
.section_tabs nav label:hover {
  background-color: rgba(23, 162, 184, 0.3);
  cursor: pointer;
}
.active_slide {
  background-color: #17a2b8;
  height: 100%;
  width: 20%;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in;
  left: 0;
}
.section_tabs input#HOME:checked ~ nav label.home,
.section_tabs input#BLOG:checked ~ nav label.blog,
.section_tabs input#CODE:checked ~ nav label.code,
.section_tabs input#HELP:checked ~ nav label.help,
.section_tabs input#ABOUT:checked ~ nav label.about {
  color: #fff;
}
.section_tabs input#BLOG:checked ~ nav .active_slide {
  left: 103px;
}
.section_tabs input#CODE:checked ~ nav .active_slide {
  left: 200px;
}
.section_tabs input#HELP:checked ~ nav .active_slide {
  left: 300px;
}
.section_tabs input#ABOUT:checked ~ nav .active_slide {
  left: 400px;
}
.content {
  display: none;
}
.section_tabs input#HOME:checked ~ .content_tabs .content_home,
.section_tabs input#BLOG:checked ~ .content_tabs .content_blog,
.section_tabs input#CODE:checked ~ .content_tabs .content_code,
.section_tabs input#HELP:checked ~ .content_tabs .content_help,
.section_tabs input#ABOUT:checked ~ .content_tabs .content_about {
  display: block;
}
.content h4 {
  font-size: 21px;
  margin: 30px 0 10px 0;
  font-weight: 500;
}
.content p {
  text-align: justify;
}
/* amir : */
/* responsive :*/
@media screen and (max-width: 425px) {
  .section_tabs nav {
    width: 100%;
    height: 36px;
  }
  .section_tabs h3 {
    font-size: 1.5rem;
  }
  .content h4 {
    margin-top: 10px;
  }
  .section_tabs input#BLOG:checked ~ nav .active_slide {
    left: 74px;
  }
  .section_tabs input#CODE:checked ~ nav .active_slide {
    left: 146px;
  }
  .section_tabs input#HELP:checked ~ nav .active_slide {
    left: 218px;
  }
  .section_tabs input#ABOUT:checked ~ nav .active_slide {
    left: 292px;
  }
}
@media screen and (max-width: 320px) {
  .section_tabs nav label {
    font-size: 13px;
  }
  .content p {
    text-align: left;
  }
  .section_tabs input#BLOG:checked ~ nav .active_slide {
    left: 52px;
  }
  .section_tabs input#CODE:checked ~ nav .active_slide {
    left: 104px;
  }
  .section_tabs input#HELP:checked ~ nav .active_slide {
    left: 156px;
  }
  .section_tabs input#ABOUT:checked ~ nav .active_slide {
    left: 208px;
  }
}
